<div id="<%= dom_id reflection %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= reflection.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Type:</strong>
    <%= reflection.reflection_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= reflection.content %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Score:</strong>
    <%= reflection.score %>
  </p>
</div>
